.profile-box {
  height: 300rpx;
  padding-top: 80rpx;
  background: #333333;
}
.profile-avatar {
  display: flex;
  padding-bottom: 20rpx;
  justify-content: center;
}
.profile-nickname {
  display: block;
  color: #F7F7F7;
  text-align: center;
}